QWidget {
    background-color: #333;
    color: whitesmoke;

}
QPushButton {
    border-radius: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    min-width: 50px;
    min-height: 10px;
    margin: 10px 0;
}

QPushButton:hover {
    background-color: pink;
    color: black;
}

QLabel{
    color: white;
}

#specialLabel {
    font-size: 1vw;
    background-color: white;
    color: black;
}